<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Proje Takip Sistemi</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

   <link rel="stylesheet" type="text/css" media="all"
	href="webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css" />

<link rel="stylesheet" media="all" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

 <div class="container">
		 <h3 style="text-align:center; color: LightGray">Proje Takip Sistemi - Görev Durumu Güncelle
		 </h3>
		
				<form th:action="@{/user/edittask}" method="post" th:object="${edittask}">
					<div class="form-row">
					
						<div class="form-group col-md-12">
						
						<input type="hidden" class="form-control" th:field="*{id}"/>
						<input type="hidden" class="form-control" th:field="*{task_name}"/>
						<input type="hidden" class="form-control" th:field="*{task_statement}"/>
						<input type="hidden" class="form-control" th:field="*{task_duedate}"/>
						
							<div class="form-group">
							
								<label for="message-text" class="col-form-label">Görev Durumu :</label>
								 <select th:field="*{task_status}">
	    	           <option th:each="task_status : ${statusList}" th:value="${task_status}" th:text="${task_status}">Durumu</option>
	    	      		 </select>
	 
							</div>
							<button style="color:white; background-color:green" class="btn btn-primary" id="userFormButton"
								type="submit">Kaydet
							</button>
								
								 <a th:href="@{/}" style="color:white; background-color:red" class="btn btn-primary">Vazgeç</a>
						
						</div>
						
					</div>
				</form>
			</div>
<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="webjars/popper.js/1.12.5/dist/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
	
</body>
</html>